Repository jphacks/F_2208, pull requests merged in 2022-10, with the labels that each got.

#84 Backend
  backend/app/Http/Controllers/UserController.php
  backend/routes/api.php
  backend/routes/web.php
Labels: backend, api

#88 Feature/backend/#86 add tasks api
  backend/app/Http/Controllers/TaskController.php
  backend/app/Http/Requests/StoreTaskRequest.php
  backend/app/Http/Requests/UpdateTaskRequest.php
  backend/routes/api.php
  frontend/src/api/user.js
Labels: frontend, backend, api

#89 add: tasks api client
  frontend/src/api/task.js
Labels: frontend, api

#90 Backend
  backend/app/Http/Controllers/TaskController.php
  backend/app/Http/Requests/StoreTaskRequest.php
  backend/app/Http/Requests/UpdateTaskRequest.php
  backend/routes/api.php
Labels: backend, api

#96 Feature/frontend/#95 add form validation
  .github/dependabot.yml
  frontend/src/components/LoginForm.jsx
  frontend/src/components/RegisterForm.jsx
  frontend/src/pages/Top.jsx
Labels: frontend

#93 fix: user update api
  backend/app/Http/Controllers/UserController.php
  backend/database/migrations/2014_10_12_000000_create_users_table.php
  frontend/src/api/user.js
Labels: frontend, backend, api

#97 add:friend api
  backend/app/Http/Controllers/FriendController.php
  backend/app/Models/Friend.php
  backend/database/migrations/2022_10_16_170530_create_friends_table.php
  backend/routes/api.php
Labels: backend, api

#101 add: TaskModal #65
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AddTaskModal.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Tasks.jsx
Labels: frontend, install

#107 Feature/#74 fix register and login form
  frontend/src/App.jsx
  frontend/src/components/Header.jsx
  frontend/src/contexts/userContext.jsx
  frontend/src/pages/Top.jsx
Labels: frontend

#110 Feature/frontend/#103 add profile page2
  frontend/src/App.jsx
  frontend/src/assets/img/grass.png
  frontend/src/components/ExpBar.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/LevelExpBar.jsx
  frontend/src/components/Logo.jsx
  frontend/src/components/Pig.jsx
  frontend/src/components/SpeechBubbleTop.jsx
  frontend/src/components/UserMenu.jsx
  frontend/src/components/UserStatus.jsx
  frontend/src/pages/Pig.jsx
  frontend/src/pages/Profile.jsx
  frontend/src/pages/User.jsx
Labels: frontend

#113 add: TaskList #102
  frontend/src/components/ShowTasks.jsx
  frontend/src/pages/Tasks.jsx
Labels: frontend

#116 Backend
  backend/app/Http/Controllers/FriendController.php
  backend/app/Http/Controllers/UserController.php
  backend/app/Models/Friend.php
  backend/database/migrations/2022_10_16_170530_create_friends_table.php
  backend/routes/api.php
  frontend/src/api/user.js
  frontend/src/components/UserBadge.jsx
Labels: frontend, backend, api

#120 add: addTaskCloseButton #111
  frontend/src/components/AddTaskModal.jsx
Labels: frontend

#130 Feature/frontend/#72 toppage layout
  frontend/src/App.jsx
  frontend/src/components/Forms/DeleteForm.jsx
  frontend/src/components/Forms/LoginForm.jsx
  frontend/src/components/Forms/RegisterForm.jsx
  frontend/src/components/Forms/SettingForm.jsx
  frontend/src/components/Forms/UpdatePasswordForm.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Header/Logo.jsx
  frontend/src/components/Header/UserMenu.jsx
  frontend/src/components/Task/AddTaskModal.jsx
  frontend/src/components/Task/ShowTasks.jsx
  frontend/src/components/User/ExpBar.jsx
  frontend/src/components/User/LevelExpBar.jsx
  frontend/src/components/User/Pig.jsx
  frontend/src/components/User/SpeechBubbleTop.jsx
  frontend/src/components/User/UserBadge.jsx
  frontend/src/components/User/UserStatus.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Profile.jsx
  frontend/src/pages/Tasks.jsx
  frontend/src/pages/Top.jsx
  frontend/src/pages/UserSettings.jsx
Labels: frontend

#153 add:ShowTasks
  backend/app/Http/Controllers/TaskController.php
  backend/routes/api.php
  frontend/src/api/task.js
  frontend/src/components/Layout.jsx
  frontend/src/components/ShadowBox.jsx
  frontend/src/components/Task/AddTaskModal.jsx
  frontend/src/components/Task/ShowTasks.jsx
  frontend/src/components/Task/TaskItem.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Tasks.jsx
Labels: frontend, backend, api

#155 Develop
  backend/.env.example
  backend/app/Http/Controllers/FriendController.php
  backend/app/Http/Controllers/TaskController.php
  backend/app/Http/Requests/StoreFriendRequest.php
  backend/app/Http/Requests/UpdateFriendRequest.php
  backend/app/Models/Friend.php
  backend/database/migrations/2022_10_16_170530_create_friends_table.php
  backend/routes/api.php
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/api/friend.js
  frontend/src/api/task.js
  frontend/src/assets/img/bg-pig.png
  frontend/src/components/AddTaskModal.jsx
  frontend/src/components/Forms/DeleteForm.jsx
  frontend/src/components/Forms/LoginForm.jsx
  frontend/src/components/Forms/MoneyForm.jsx
  frontend/src/components/Forms/RegisterForm.jsx
  frontend/src/components/Forms/SettingForm.jsx
  frontend/src/components/Forms/StoreMoney.jsx
  frontend/src/components/Forms/UpdatePasswordForm.jsx
  frontend/src/components/Forms/WithdrawMoney.jsx
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Header/Logo.jsx
  frontend/src/components/Header/UserMenu.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/ShadowBox.jsx
  frontend/src/components/ShowTasks.jsx
  frontend/src/components/Task/AddTaskModal.jsx
  frontend/src/components/Task/ShowTasks.jsx
  frontend/src/components/Task/TaskItem.jsx
  frontend/src/components/User/ExpBar.jsx
  frontend/src/components/User/LevelExpBar.jsx
  frontend/src/components/User/Pig.jsx
  frontend/src/components/User/SpeechBubbleTop.jsx
  frontend/src/components/User/UserBadge.jsx
  frontend/src/components/User/UserStatus.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Pig.jsx
  frontend/src/pages/Profile.jsx
  frontend/src/pages/Tasks.jsx
  frontend/src/pages/Top.jsx
  frontend/src/pages/UserSettings.jsx
Labels: frontend, backend, api

#160 Feature/frontend/#158 add task edit and delete
  frontend/src/components/Task/ShowTasks.jsx
  frontend/src/components/Task/TaskItem.jsx
  frontend/src/components/Task/UpdateTaskModal.jsx
Labels: frontend

#165 Feature/paypay
  backend/.env.example
  backend/app/Http/Controllers/PayPayController.php
  backend/composer.json
  backend/composer.lock
  backend/config/paypay.php
  backend/routes/api.php
  backend/routes/web.php
  frontend/public/_redirects
  frontend/src/api/paypay.js
  frontend/src/assets/img/paypay.png
  frontend/src/pages/Profile.jsx
Labels: frontend, backend, api, install

#167 Feature/frontend/#161 fix money modal
  frontend/src/components/Forms/MoneyForm.jsx
  frontend/src/components/Forms/StoreMoney.jsx
  frontend/src/components/Forms/WithdrawMoney.jsx
  frontend/src/components/Task/DeleteTask.jsx
  frontend/src/components/Task/ShowTasks.jsx
  frontend/src/components/Task/TaskItem.jsx
Labels: frontend

#171 Frontend
  frontend/src/components/Forms/MoneyForm.jsx
  frontend/src/components/Forms/StoreMoney.jsx
  frontend/src/components/Forms/WithdrawMoney.jsx
  frontend/src/components/Layout.jsx
  frontend/src/components/Task/DeleteTask.jsx
  frontend/src/components/Task/ShowTasks.jsx
  frontend/src/components/Task/TaskItem.jsx
  frontend/src/components/Task/UpdateTaskModal.jsx
  frontend/src/pages/Profile.jsx
Labels: frontend

#172 add 報酬画面を整えました #105
  frontend/src/assets/img/RewardBg.png
  frontend/src/pages/Dashboard.jsx
Labels: frontend

#181 update: 一部ボタンの色等を変更しました #159
  frontend/src/components/Forms/LoginForm.jsx
  frontend/src/components/Forms/RegisterForm.jsx
  frontend/src/components/Forms/SettingForm.jsx
  frontend/src/components/Forms/StoreMoney.jsx
  frontend/src/components/Forms/UpdatePasswordForm.jsx
  frontend/src/components/Forms/WithdrawMoney.jsx
  frontend/src/components/Task/AddTaskModal.jsx
  frontend/src/components/Task/DeleteTask.jsx
  frontend/src/components/Task/ShowTasks.jsx
  frontend/src/pages/Profile.jsx
Labels: frontend

#189 add: FriendList #186
  frontend/src/App.jsx
  frontend/src/components/User/ShowFriend.jsx
  frontend/src/pages/Friends.jsx
Labels: frontend
